.App {
  margin: 0 auto;
  align: center;
  text-align: center;
  width: 370px;
}

.App-logo {
  height: 50px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.input-form{
  -webkit-app-region: no-drag;
  height: 160px;
}

.form-style .rjsf .field {
  display: flex;
  align-items: center;
}

.form-style .rjsf .field .control-label {
    display: none;
}

.form-style .rjsf fieldset > div {
 margin-top: 3px;
}

.form-style .rjsf fieldset > div:first-child {
 margin-top: 0px;
}

.field-string{
  padding-top: 10px;
}

.form-control{
  height:20px;
  border-style: none;
}

.msg-box{
  margin: 0 auto;
  font-size: 8px;
  background-color: rgba(92, 89, 89, 0.5);
  color: #fff;
  width: 300px;
}

.flex-boxs{
  display: -webkit-flex;
}

.save-file-setting{
  text-align: left;
  margin-left: 50px;
}

.save-file-setting .apply{
  padding-left: 10px;
}

.form-subject{
  font-size: 12px;
}

.page-link{
  margin-top: 15px;
}

.link-space{
  justify-content: center;
  position: relative;
}
