:root {
  --theme-b-base-l5: #b3c4f3;
  --theme-b-base-l3: #99b1ef;
  --theme-b-base: #7494ea;
  --theme-b-base-d3: #556cab;
  --theme-b-base-d5: #405180;

  --theme-b-sub1-l5: #abecff;
  --theme-b-sub1-l3: #8fe6ff;
  --theme-b-sub1: #66ddff;
  --theme-b-sub1-d3: #4ba1ba;
  --theme-b-sub1-d5: #38798c;

  --theme-b-sub2-l5-clear80: #edeeffcc;
  --theme-b-sub2-l5-clear75: #edeeffbf;
  --theme-b-sub2-l5: #edeeff;
  --theme-b-sub2-l3: #e7e9ff;
  --theme-b-sub2: #dfe1ff;
  --theme-b-sub2-d3: #a3a4ba;
  --theme-b-sub2-d5: #7a7b8c;
  --theme-b-sub2-d5-clear50: #7a7b8c80;
  --theme-b-sub2-d5-clear65: #7a7b8ca6;

  --theme-b-light: #dcdcdd;
  --theme-b-dark: #031926;

  --theme-b-accent-l5: #ff7ca1;
  --theme-b-accent: #ff1053;
  --theme-b-accent-d3: #ba0c3d;
}

.apply button{
  -webkit-app-region: no-drag;
  font-size: 14px;
  background-color: var(--theme-b-sub1);
  color: var(--theme-b-base-d5);
  border-radius: 20px;
  height: 30px;
  width: 80px;
}

.save-file-name{
  height: 25px;
  width: 360px;
  padding-left: 10px;
  padding-rigtht: 10px;
  border-radius: 10px;
  border-style: none;
  filter: drop-shadow(5px 5px 5px var(--theme-b-base-d5));
}

.form-subject{
  font-size: 12px;
}

.save-file-setting{
  text-align: left;
  width: 500px;
  margin: 0 auto;
}

.save-file-setting .apply{
  padding-left: 10px;
}

.apply:active button{
  background-color: var(--theme-b-sub1-d3);
}

.color-setting-space{
  -webkit-app-region: no-drag;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 10px;
  height: 280px;
  width: 320px;
  overflow: auto;
  resize: none;
}

.color-setting-space .space-label{
  background-color: var(--theme-b-base);
  color: var(--theme-b-light);
  font-weight: bold;
  text-align: center;
  width: 130px;
  font-size: 14px;
}

.actv-space {
  border-radius: 30px 5px 5px 30px / 30px 5px 5px 30px;
  background-color: var(--theme-b-sub2);
  filter: drop-shadow(5px 5px 5px var(--theme-b-base-d5));
}

.note-space {
  border-radius: 5px 30px 30px 5px / 5px 30px 30px 5px;
  background-color: var(--theme-b-sub2-d3);
  filter: drop-shadow(5px 5px 5px var(--theme-b-base-d5));
}

.color-setting-space::-webkit-scrollbar{
  width: 12px;
}
.color-setting-space::-webkit-scrollbar-track{
  background: var(--theme-b-sub2-l5);
  border: none;
  border-radius: 20px;
}
.color-setting-space::-webkit-scrollbar-thumb{
  background: var(--theme-b-base);
  border-radius: 3px;
  box-shadow: none;
}

.color-setting{
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  width: 300px;
  filter: drop-shadow(3px 3px 3px var(--theme-b-sub1-d5));
}

.color-setting .sort-button-space{
  height: 27px;
}

.color-setting .sort-button-space button{
  display: block;
  height: 50%;
  filter: none
}

.color-setting .sort-button-space button:hover{
  background-color: var(--theme-b-sub2-l5);
}

.color-setting .sort-button-space button:disabled{
  visibility : hidden;
}

.color-setting .sort-button-space .up-button{
  background-color: var(--theme-b-sub2-l5-clear75);
  border-radius: 10px 0px 0px 0px / 10px 0px 0px 0px;
}

.color-setting .sort-button-space .up-button:hover{
  background-color: var(--theme-b-sub2-l5);
  border-radius: 10px 0px 0px 0px / 10px 0px 0px 0px;
}

.color-setting .sort-button-space .down-button{
  background-color: var(--theme-b-sub2-d5-clear50);
  border-radius: 0px 0px 0px 10px / 0px 0px 0px 10px;
}

.color-setting .subject-value{
  width: 150px;
  height: 27px;
  padding: 0 10px;
  overflow: hidden;
}

.color-setting .subject{
  width: 180px;
  text-align: center;
  border-radius: 10px 0px 0px 10px / 10px 0px 0px 10px;
}
.color-setting .value{
  border-color: rgba(0, 0, 0, 0);
  border-radius: 0px 10px 10px 0px / 0px 10px 10px 0px;
}
.color-setting-input{
  margin-top: 20px;
  filter: drop-shadow(3px 3px 3px var(--theme-b-base-d5));
}

.color-setting-input input{
  border: none;
}

.color-setting .add-button {
  margin-left: 5px;
  border-radius: 10px;
  background-color: var(--theme-b-sub1-d5);
  color: var(--theme-b-sub2);
  filter: drop-shadow(3px 3px 3px var(--theme-b-base-d5));
}

.delete-button{
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  text-align: center;
  background-color: var(--theme-b-accent);
  color: var(--theme-b-accent-l5);
  height: 23px;
  width: 23px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 20px;
  filter: drop-shadow(1px 1px 1px var(--theme-b-accent-d3));
}

.delete-button:active{
  background-color: var(--theme-b-accent-d3);
}

.actv-button{
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  text-align: center;
  background-color: var(--theme-b-sub1-d3);
  color: var(--theme-b-dark);
  height: 23px;
  width: 23px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 20px;
  filter: drop-shadow(3px 3px 3px var(--theme-b-sub1-d5));
}

.actv-button:active{
  background-color: var(--theme-b-sub1-d5);
}

.link-setting-button{
  -webkit-app-region: no-drag;
  background-color: #5e5e5e;
  color: #b9b9b9;
  font-size: 12px;
  position: absolute;
  right: 0;
  margin-right: 40px;
  border-radius: 5px;
  height: 30px;
  width: 50px;
  filter: none;
}

.link-setting-button:active{
  color: var(--theme-b-light);
  background-color: var(--theme-b-base);
  border-color: var(--theme-b-sub1-l5);
}

.bg-white {
  background-color: #ffffff;
}
